html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

@keyframes fade-in-up {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

a {
  color: #2c72c3;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

a:hover {
  color: #000000;
}

.content {
  padding: 0px;
}

.fade-in {
  animation: fade-in 0.75s ease-in;
}

@media screen and (min-width: 769px) {
  .content {
    padding: 100px;
  }
}
