.header {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

@media screen and (min-width: 436px) {
  .header {
    padding-left: 50px;
  }
}

@media screen and (min-width: 769px) {
  .header {
    padding-left: 100px;
  }
}

.header h1 {
  font-size: 2.5em;
  line-height: 0.95em;
  animation: fade-in-up 0.75s ease-in;
}

@media screen and (min-width: 1025px) {
  .header h1 {
    font-size: 4.5em;
  }
}
